{% extends 'shared/base.html' %}

{% block content %}
<div class='header'>
<h1>Departments</h1>
</div>
{% if request.user.is_authenticated %}
<div class="list-container">
<a class="add_department_btn" href="{% url 'hrapp:department_form' %}">Add Department</a>
<ol>
{% for department in departments %}
    <li>
        <p><a href="{% url 'hrapp:department' department.id %}">{{ department }}</a></p>
        <p>Department Budget: ${{ department.budget }}</p>
        <p>Employees Assigned: {{ department.employees }}</p>
        
    </li>
{% endfor %}
</ol>
<div class="list-container">
{% else %}
<div class="list-container">
<ol>
{% for department in departments %}
    <li>
        <p>{{ department }}</p>
        <p>Department Budget: ${{ department.budget }}</p>
        <p>Employees Assigned: {{ department.employees }}</p>
    </li>
{% endfor %}
</ol>
<div class="list-container">
{% endif %}
{% endblock content %}
