{% extends 'shared/base.html' %}

{% block content %}
<div class='header'>
<h1>Employees</h1>
</div>

{% if request.user.is_authenticated %}
<div class="list-container">
<a class="add_employee_btn" href={% url "hrapp:employee_form"%}>Add Employee</a>
<ol>
{% for employee in employees %}
    <li>
        <p><a href={% url "hrapp:employee" employee.id%}>{{ employee }}</a></p>
        Current Department: {{employee.department}}
    </li>
{% endfor %}
</ol>
<div class="list-container">
{% else %}
<div class="list-container">

<ol>
{% for employee in employees %}
    <li>
        <p>{{ employee }}</p>
        Current Department: {{employee.department}}
    </li>
{% endfor %}
</ol>
<div class="list-container">

{% endif %}
{% endblock content %}
