{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<body>
    <h1  class="text-center">Training Program Form</h1>

    {% if training_program.id is not None %}
        <form class="new_form" action="{% url 'hrapp:training_program' training_program.id %}" method="post"> {% csrf_token %}
    {% else %}
        <form class="new_form" action="{% url 'hrapp:trainingprograms' %}" method="post"> {% csrf_token %}
    {% endif %}

        <fieldset class="new_form">
            <label class="new_form" for="title">Title: </label>
            <input class="new_form" id="title" type="text" name="title" value="{{ training_program.title }}">
        </fieldset>

        <fieldset class="new_form">
            <label class="new_form" for="start_date">Start Date: </label>
            <input class="new_form" id="start_date" type="date" name="start_date" value="{{ training_program.start_date }}">
        </fieldset>

        <fieldsetclass="new_form" >
            <label class="new_form" for="end_date">End Date: </label>
            <input class="new_form" id="end_date" type="date" name="end_date" value="{{ training_program.end_date }}">
        </fieldset>

        <fieldset class="new_form" >
            <label class="new_form" for="capacity">Capacity: </label>
            <input class="new_form" id="capacity" type="text" name="capacity" value="{{ training_program.capacity }}">
        </fieldset>

        {% if training_program.id is not None %}
            <fieldset class="new_form">
                <label class="new_form" for="attendee" class="attendee_list">Current Attendees</label>
                    <ol class="new_form">
                        {% for attendee in training_program_employees %}
                            {% if attendee.training_program_id == training_program.id %}
                                <li class="new_form"> {{ attendee.employee.first_name }} {{ attendee.employee.last_name }}</li>
                            {% endif %}
                        {% endfor %}
                     </ol>
             </fieldset>

            <fieldset class="new_form">
                <label for="employee_id" class="new_form">Add New Employee To Program: </label>
                    <select id="select_employee" type="text" name="employee_id" class="new_form">
                        {% for employee in employees %}
                            <option class="new_form" value="{{ employee.id }}">
                               {{ employee.first_name }} {{ employee.last_name}}</option>
                        {% endfor %}
                    </select>
             </fieldset>
        {% endif %}

        {% if training_program.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="new_form" type="submit" value="Update" />
        {% else %}
            <input class="new_form" type="submit" value="Create" />
        {% endif %}

    </form>
</body>
{% endblock %}%}
